<!doctype html>
<html lang="en">

<head>
	<%- include('_partial/head', { title }); %>
</head>

<body>
	<%- include('_partial/header', { title, icon: 'database-zap' }); %>

	<div class="px-3">
		<div class="container mx-auto -mt-24">
			<div class="card card-body p-4 md:p-6 bg-base-200 min-h-25 rounded-b-none">

				<div class="flex flex-col gap-6">
					<div class="grid grid-cols-5 gap-4">
						<div class="col-span-5 md:col-span-2">

							<% if (cache.timestamp !== null) { %>
							Released on <%= cache.timestamp.toISOString().split('T')[0] %>
							<br>
							<% } %>

							<a class="hover:text-gray-300 underline" href="/caches/<%= cache.id %>/cache.zip">Download cache</a><br>
							<% if (cache.versioned) { %>
							<sup>This is a zip export with main_file_cache inside.</sup>
							<% } else { %>
							<sup>This is a zip export with individual files inside.</sup>
							<% } %>

							<% if (cache.versioned) { %>
							<br>
							<a class="hover:text-gray-300 underline" href="/caches/<%= cache.id %>/files.zip">Download flat files</a><br>
							<sup>This is a zip export with individual files inside.</sup>
							<% } %>

							<% if (!cache.versioned) { %>
							<hr class="border-t-1 border-white/20 my-1">
							<% for (const file of data) { %>
							<% if (file.len !== null) { %>
							<a class="hover:text-gray-300 underline" href="/caches/<%= cache.id %>/get/<%= file.name %>" title="<%= file.name %>">
								<%= file.name %>: <%= file.len %> bytes
							</a><br>
							<sup>CRC: <%= file.crc %></sup>
							<% } else { %>
							<%= file.name %> (missing)
							<% } %>
							<br>
							<% } %>
							<% } %>

						</div>

						<div class="col-span-5 md:col-span-3">

							<% if (clients.length) { %>
							Related Files<br>

							<% for (const client of clients) { %>
							<a class="hover:text-gray-300 underline" href="/clients/<%= client.id %>" title="<%= client.name %>">
								<%= client.name %>: <%= client.len %> bytes
							</a>
							<br>
							<% } %>
							<% } %>

						</div>
					</div>
				</div>

				<hr class="border-t-2 border-white/20">

				<div class="flex justify-center mt-1 mb-1">
					<span class="text-xs">Page: <%= stats.timeTaken %> ms</span>
				</div>

			</div>
		</div>
	</div>
</body>

<%- include('_partial/footer'); %>

</html>