<!doctype html>
<html lang="en">

<head>
	<%- include('_partial/head', { title }); %>
</head>

<body>
	<%- include('_partial/header', { title, icon: 'database-zap' }); %>

	<%- include('_partial/layout/primary_open'); %>

	<div class="flex flex-col gap-6">
		<div class="grid grid-cols-4 gap-4">
			<div class="col-span-4 md:col-span-1 flex flex-col gap-3">
				<h2 class="text-2xl text-harvest-gold-300 font-medium">Cache Info</h2>

				<% if (cache.timestamp) { %>
				<div>
					<h2 class="text-lg text-siam-300">Timestamp</h2>

					<span class="text-xl font-medium"><%= cache.timestamp.toISOString().split('T')[0] %></span>
				</div>
				<% } %>

				<div>
					<h2 class="text-lg text-siam-300">Raw Size</h2>

					<span class="text-xl font-semibold">
						<%- include('_component/format_size', { bytes: cache.len }) %>
					</span>
				</div>

				<div>
					<h2 class="text-lg text-siam-300">Files Tracked</h2>

					<% if (cache.missing > 0) { %>
					<div class="text-xl font-medium"><%= cache.total - cache.missing %> / <%= cache.total %></div>

					<div class="text-sm text-siam-200">(Missing <%= cache.missing %> of <%= cache.total %> files)</div>
					<% } else { %>
					<div class="text-xl font-medium"><%= cache.total %></div>
					<% } %>
				</div>

				<div>
					<h2 class="text-lg text-siam-300">Game</h2>

					<span class="text-xl font-medium"><%= cache.display_name %></span>
				</div>

				<div>
					<h2 class="text-lg text-siam-300">Build</h2>

					<span class="text-xl font-medium"><%= cache.build %></span>
				</div>
			</div>

			<div class="col-span-4 md:col-span-3 flex flex-col gap-6">

				<% if (cache.versioned) { %>
				<div class="flex flex-col gap-3">
					<h2 class="text-2xl text-harvest-gold-300 font-medium">Download Cache</h2>

					<%- include('_component/file_download', {
									icon: 'file-archive',
									name: `cache-${cache.name}-${cache.build}-lostcity#${cache.id}.zip`,
									href: `/caches/${cache.id}/cache.zip`,
									size: 'lg'
									}) 
								%>

					<span class="text-siam-200">
						<i data-lucide="info"
							 class="size-4 inline-block align-sub"></i>

						This is a zip export with main_file_cache inside.
					</span>
				</div>
				<% } %>

				<div class="flex flex-col gap-3">
					<h2 class="text-2xl text-harvest-gold-300 font-medium">
						<% if (cache.versioned) { %>
						Download Flat Files
						<% } else { %>
						Download Cache
						<% } %>
					</h2>

					<%- include('_component/file_download', {
									icon: 'file-archive',
									name: `files-${cache.name}-${cache.build}-lostcity#${cache.id}.zip`,
									href: `/caches/${cache.id}/files.zip`,
									size: 'lg'
									}) 
								%>

					<span class="text-siam-200">
						<i data-lucide="info"
							 class="size-4 inline-block align-sub"></i>

						This is a zip export with individual files inside.
					</span>
				</div>

				<% if (!cache.versioned) { %>
				<div class="flex flex-col gap-3">
					<h2 class="text-2xl text-harvest-gold-300 font-medium">Files</h2>

					<div class="rounded-field border border-base-content/5 bg-base-300">
						<form class="flex flex-wrap items-center py-2 px-4 gap-2"
									method="get"
									action="/caches/<%= cache.id %>">
							<h3>Filters</h3>

							<input type="text"
										 class="input w-48"
										 name="name"
										 id="name"
										 placeholder="File Name..."
										 value="<%= filters.name || '' %>">

							<input type="text"
										 class="input w-48"
										 name="crc"
										 id="crc"
										 placeholder="File CRC..."
										 value="<%= filters.crc || '' %>">

							<% if (filters && filters.sort) { %>
							<input type="hidden"
										 name="sort"
										 value="<%= filters.sort || '' %>">
							<% } %>

							<% if (filters && filters.order) { %>
							<input type="hidden"
										 name="order"
										 value="<%= filters.order %>">
							<% } %>

							<input type="hidden"
										 name="limit"
										 value="<%= pagination.limit || '' %>">

							<button type="submit"
											class="btn btn-primary btn-sm">
								<i data-lucide="search"
									 class="size-4"></i>
							</button>

							<% const hasFilters = filters && (filters.name || filters.crc); %>

							<% if (hasFilters) { %>
							<a class="btn btn-sm btn-ghost"
								 href="/caches/<%= cache.id %>">
								<i data-lucide="x"
									 class="size-4"></i>
								Clear
							</a>
							<% } %>
						</form>

						<div class="relative overflow-x-auto">
							<table class="table table-zebra">
								<thead>
									<tr class="bg-base-100">
										<th scope="col"
												class="font-medium!">
											<%- include('_component/sort_header', { 
											sort: 'name', 
											label: 'File Name', 
											filters: filters, 
											filtersQuery: buildQueryString(filters, ['sort', 'order']), 
											defaultSort: 'name', 
											defaultOrder: 'asc' }) 
										%>
										</th>
										<th scope="col"
												class="font-medium!">
											<%- include('_component/sort_header', { 
											sort: 'crc', 
											label: 'CRC', 
											filters: filters, 
											filtersQuery: buildQueryString(filters, ['sort', 'order']), 
											defaultSort: 'name', 
											defaultOrder: 'asc' }) 
										%>
										</th>
										<th scope="col"
												class="font-medium!">
											<%- include('_component/sort_header', { 
											sort: 'timestamp', 
											label: 'First Seen', 
											filters: filters, 
											filtersQuery: buildQueryString(filters, ['sort', 'order']), 
											defaultSort: 'name', 
											defaultOrder: 'asc' }) 
										%>
										</th>
										<th scope="col"
												class="font-medium!">
											<%- include('_component/sort_header', { 
											sort: 'timestamp2', 
											label: 'Last Seen', 
											filters: filters, 
											filtersQuery: buildQueryString(filters, ['sort', 'order']), 
											defaultSort: 'name', 
											defaultOrder: 'asc' }) 
										%>
										</th>
										<th scope="col"
												class="font-medium!">
											<%- include('_component/sort_header', { 
											sort: 'len', 
											label: 'File Size', 
											filters: filters, 
											filtersQuery: buildQueryString(filters, ['sort', 'order']), 
											defaultSort: 'name', 
											defaultOrder: 'asc' }) 
										%>
										</th>
										<th scope="col">
										</th>
									</tr>
								</thead>
								<tbody>
									<% for (file of data) { %>
									<tr>
										<td class="w-0 whitespace-nowrap">
											<i data-lucide="file"
												 class="size-5 mr-1 inline align-text-bottom text-siam-300"></i>
											<%= file.name %>
										</td>
										<td class="text-siam-300">
											<%= file.crc %>
										</td>
										<td class="w-0 whitespace-nowrap">
											<% if (file.timestamp != undefined) { %>
											<%= file.timestamp.toISOString().replace('T', ' ').split('.')[0] %>
											<% } else { %>
											-
											<% } %>
										</td>
										<td class="w-0 whitespace-nowrap">
											<% if (file.timestamp2 != undefined) { %>
											<%= file.timestamp2.toISOString().replace('T', ' ').split('.')[0] %>
											<% } else { %>
											-
											<% } %>
										</td>
										<td class="w-0 whitespace-nowrap">
											<% if (file.len !== null) { %>
											<%- include('_component/format_size', { bytes: file.len }) %>
											<% } %>
										</td>
										<td class="w-0 whitespace-nowrap">
											<a class="btn btn-sm btn-success"
												 href="/caches/<%= cache.id %>/get/<%= file.name %>">
												<i data-lucide="download"
													 class="size-4"></i>
												Download
											</a>
										</td>
									</tr>
									<% } %>
									<% if (data.length === 0) { %>
										<tr>
											<td colspan="6" class="text-center text-siam-300">
												No files found.
											</td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>

						<%- include('_component/pagination', { 
							pagination,
							filters: filters,
							filtersQuery: buildQueryString(filters, ['page'])
						}); %>
					</div>

				</div>
				<% } %>

				<div class="flex flex-col gap-3">
					<h2 class="text-2xl text-harvest-gold-300 font-medium">Related Files</h2>

					<% if (clients.length > 0) { %>

					<% for (const client of clients) { %>
					<%- include('_component/file_download', {
									icon: 'file',
									name: client.name,
									href: `/clients/${client.id}/download`,
									size: 'lg'
								}) %>
					<% } %>

					<% } else { %>

					<div class="text-siam-300">
						No related files were found for this cache.
					</div>

					<% } %>
				</div>

			</div>
		</div>
	</div>

	<%- include('_partial/layout/primary_close'); %>

	<%- include('_partial/footer', { timeTaken: stats.timeTaken }); %>
</body>

<%- include('_partial/footer_scripts'); %>

</html>