<!doctype html>
<html lang="en">

<head>
	<%- include('_partial/head', { title }); %>
</head>

<body>
	<%- include('_partial/header', { title, icon }); %>

	<%- include('_partial/layout/primary_open'); %>

	<div class="relative overflow-x-auto rounded-field border border-base-content/5 bg-base-300">
		<table class="table table-zebra">
			<thead>
				<tr class="bg-base-100">
					<th scope="col"
							class="font-medium!">
						Game
					</th>
					<th scope="col"
							class="font-medium!">
						Archived
					</th>
					<th scope="col">
					</th>
				</tr>
			</thead>
			<tbody>
				<% for (game of games) { %>
				<tr>
					<td class="w-0 whitespace-nowrap">
						<a class="hover:text-gray-300"
							 href="/caches/list/<%= game.name %>"><%= game.display_name %></a>
					</td>
					<td>
						<a class="hover:text-gray-300"
							 href="/caches/list/<%= game.name %>"><%= game.count %></a>
					</td>
					<td class="w-0 whitespace-nowrap">
						<a class="btn btn-sm btn-info"
							 href="/caches/list/<%= game.name %>">See All</a>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>

		<%- include('_component/pagination', { 
			pagination,
			filters: {},
			filtersQuery: ''
		}); %>
	</div>

	<%- include('_partial/layout/primary_close'); %>

	<%- include('_partial/footer', { timeTaken: stats.timeTaken }); %>
</body>

<%- include('_partial/footer_scripts'); %>

</html>