<!doctype html>
<html lang="en">

<head>
	<%- include('_partial/head', { title }); %>
</head>

<body>
	<%- include('_partial/header', { title, icon }); %>

	<%- include('_partial/layout/primary_open'); %>

	<% const hasTimestamp = caches.find(x => x.timestamp); %>
	<% const hasNewspost = caches.find(x => x.newspost); %>
	<% const hasFilters = filters && (filters.build || filters.timestampMin || filters.timestampMax); %>

	<div class="grid grid-cols-4 gap-6">
		<div class="col-span-4 lg:col-span-1 flex flex-col gap-3">
			<details class="collapse collapse-arrow lg:hidden"
							 <%= hasFilters ? 'open' : '' %>>
				<summary class="collapse-title flex items-center justify-between gap-2 cursor-pointer bg-base-300 py-2">
					<h2 class="text-lg text-harvest-gold-300 font-medium">Filters</h2>

					<% if (hasFilters) { %>
					<a class="btn btn-sm btn-ghost"
						 href="/caches/list/<%= game.name %>">
						<i data-lucide="x"
							 class="size-4"></i>
						Clear
					</a>
					<% } %>
				</summary>

				<div class="collapse-content bg-base-300">
					<%- include('./_partial/list_filters', { filters }); %>
				</div>
			</details>

			<div class="hidden lg:block">
				<div class="flex items-center justify-between gap-2 mb-3">
					<h2 class="text-2xl text-harvest-gold-300 font-medium">Filters</h2>

					<% if (hasFilters) { %>
					<a class="btn btn-sm btn-ghost"
						 href="/caches/list/<%= game.name %>">
						<i data-lucide="x"
							 class="size-4"></i>
						Clear
					</a>
					<% } %>
				</div>

				<div class="card card-body flex-initial bg-base-300">
					<%- include('./_partial/list_filters', { filters, hasTimestamp }); %>
				</div>
			</div>
		</div>

		<div class="col-span-4 lg:col-span-3 flex flex-col gap-3">
			<% if (hasFilters) { %>
			<div class="flex flex-wrap gap-2">
				<% if (filters.build) { %>
				<a href="/caches/list/<%= game.name %>?<%= buildQueryString(filters, ['page', 'build']) %>&limit=<%= pagination.limit %>"
					 class="btn btn-info btn-sm h-7 pr-2">
					Build: <%= filters.build %>

					<i data-lucide="x"
						 class="size-4"></i>
				</a>
				<% } %>

				<% if (filters.timestampMin || filters.timestampMax) { %>
				<a href="/caches/list/<%= game.name %>?<%= buildQueryString(filters, ['page', 'timestampMin', 'timestampMax']) %>&limit=<%= pagination.limit %>"
					 class="btn btn-info btn-sm h-7 pr-2">
					<% if (filters.timestampMin && filters.timestampMax) { %>
					Timestamp: <%= filters.timestampMin %> - <%= filters.timestampMax %>
					<% } else if (filters.timestampMin) { %>
					First Seen: from <%= filters.timestampMin %>
					<% } else if (filters.timestampMax) { %>
					First Seen: until <%= filters.timestampMax %>
					<% } %>

					<i data-lucide="x"
						 class="size-4"></i>
				</a>
				<% } %>
			</div>
			<% } %>

			<div class="relative overflow-x-auto rounded-field border border-base-content/5 bg-base-300">
				<table class="table table-zebra">
					<thead>
						<tr class="bg-base-100">
							<th scope="col"
									class="font-medium!">
								<%- include('_component/sort_header', { 
									sort: 'build', 
									label: 'Build', 
									filters: filters, 
									filtersQuery: buildQueryString(filters, ['sort', 'order']), 
									defaultSort: 'build', 
									defaultOrder: 'asc' }) 
								%>
							</th>
							<% if (hasTimestamp) { %>
							<th scope="col"
									class="font-medium!">
								<%- include('_component/sort_header', { 
									sort: 'timestamp', 
									label: 'Timestamp', 
									filters: filters, 
									filtersQuery: buildQueryString(filters, ['sort', 'order']), 
									defaultSort: 'build', 
									defaultOrder: 'asc' }) 
								%>
							</th>
							<% } %>
							<% if (hasNewspost) { %>
							<th scope="col"
									class="font-medium!">
								<%- include('_component/sort_header', { 
									sort: 'newspost', 
									label: 'Newspost', 
									filters: filters, 
									filtersQuery: buildQueryString(filters, ['sort', 'order']), 
									defaultSort: 'build', 
									defaultOrder: 'asc' }) 
								%>
							</th>
							<% } %>
							<th scope="col">
							</th>
						</tr>
					</thead>
					<tbody>
						<% for (cache of caches) { %>
						<tr>
							<td class="w-0 whitespace-nowrap font-medium text-heading">
								<a class="hover:text-gray-300"
									 href="/caches/<%= cache.id %>"><%= cache.build %></a>
							</td>
							<% if (hasTimestamp) { %>
							<td>
								<% if (cache.timestamp) { %>
								<a class="hover:text-gray-300"
									 href="/caches/<%= cache.id %>">
									<%= cache.timestamp.toISOString().split('T')[0] %>
								</a>
								<% } else { %>
								-
								<% } %>
							</td>
							<% } %>
							<% if (hasNewspost) { %>
							<td>
								<% if (game.newspost_url !== null && cache.newspost !== null) { %>
								<a class="hover:text-gray-300"
									 href="<%= game.newspost_url%><%= encodeURI(cache.newspost) %>"
									 rel="noreferrer"
									 target="_blank"><%= cache.newspost %></a>
								<% } else { %>
								<%= cache.newspost ?? '-' %>
								<% } %>
							</td>
							<% } %>
							<td class="w-0 whitespace-nowrap">
								<a class="btn btn-sm btn-info"
									 href="/caches/<%= cache.id %>"
									 title="<%= cache.id %>">
									More details
								</a>
								<a class="btn btn-sm btn-success"
									 href="/caches/<%= cache.id %>/cache.zip">
									<i data-lucide="download"
										 class="size-4"></i>

									Download
								</a>
							</td>
						</tr>
						<% } %>
						<% if (caches.length === 0) { %>
						<tr>
							<td colspan="4"
									class="text-center text-siam-300">
								No caches found.
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>

				<%- include('_component/pagination', { 
					pagination,
					filters: filters,
					filtersQuery: buildQueryString(filters, ['page'])
				}); %>
			</div>

			<% if (game.name !== 'runescape' && game.name !== 'oldscape' && game.name !== 'rsclassic') { %>
			<span class="text-siam-200">
				<i data-lucide="info"
					 class="size-4 inline-block align-sub"></i>

				FunOrb caches may show multiple entries per real version, it cannot be deduplicated into one entry as they didn't store Js5Indexes.
			</span>
			<% } %>
		</div>
	</div>

	<%- include('_partial/layout/primary_close'); %>

	<%- include('_partial/footer', { timeTaken: stats.timeTaken }); %>
</body>

<%- include('_partial/footer_scripts'); %>

</html>