<div class="flex flex-wrap justify-between items-center gap-2 p-4">
	<div class="join">
		<% const currentParams = filtersQuery ? filtersQuery + '&' : ''; %>
		<% const limitParam = 'limit=' + pagination.limit; %>

		<% if (pagination.page > 1) { %>
		<a href="?<%= currentParams %><%= limitParam %>&page=<%= pagination.page - 1 %>"
			 class="join-item btn btn-neutral"><i data-lucide="chevron-left"
				 class="size-5"></i></a>
		<% } %>

		<% if (pagination.page > 3) { %>
		<a href="?<%= currentParams %><%= limitParam %>&page=1"
			 class="join-item btn btn-neutral">1</a>

		<% if (pagination.page > 4) { %>
		<span class="join-item btn btn-neutral btn-disabled bg-neutral-900 px-3">...</span>
		<% } %>
		<% } %>

		<% for (var i = Math.max(1, pagination.page - 2); i <= Math.min(pagination.totalPages, pagination.page + 2); i++) { %>
		<a href="?<%= currentParams %><%= limitParam %>&page=<%= i %>"
			 class="join-item btn btn-neutral <%= pagination.page === i ? 'bg-base-content/5' : '' %>"><%= i %></a>
		<% } %>

		<% if (pagination.page < pagination.totalPages - 2) { %>
		<% if (pagination.page < pagination.totalPages - 3) { %>
		<span class="join-item btn btn-neutral btn-disabled bg-neutral-900 px-3">...</span>
		<% } %>

		<a href="?<%= currentParams %><%= limitParam %>&page=<%= pagination.totalPages %>"
			 class="join-item btn btn-neutral"><%= pagination.totalPages %></a>
		<% } %>

		<% if (pagination.page < pagination.totalPages) { %>
		<a href="?<%= currentParams %><%= limitParam %>&page=<%= pagination.page + 1 %>"
			 class="join-item btn btn-neutral"><i data-lucide="chevron-right"
				 class="size-5"></i></a>
		<% } %>
	</div>

	<div class="flex items-center gap-2">
		<form method="GET"
					class="flex items-center gap-2">
			<label for="limit"
						 class="text-sm text-siam-300">Rows per page</label>

			<select name="limit"
							id="limit"
							class="select select-sm w-fit"
							onchange="this.form.submit()">
				<% [10, 25, 50, 100, 500].forEach(function(option) { %>
				<option value="<%= option %>"
								<%= option === pagination.limit ? 'selected' : '' %>><%= option %></option>
				<% }) %>
			</select>

			<% Object.keys(filters).forEach(function(key) { %>
			<% if (filters[key] && key !== 'limit' && key !== 'page') { %>
			<input type="hidden"
						 name="<%= key %>"
						 value="<%= filters[key] %>">
			<% } %>
			<% }) %>
		</form>

		<div class="text-sm text-siam-300">
			<span class="text-sm text-siam-100 font-semibold">
				<%= ((pagination.page - 1) * pagination.limit) + 1 %>-<%= Math.min(pagination.page * pagination.limit, pagination.totalRecords) %>
			</span>
			of
			<span class="text-sm text-siam-100 font-semibold">
				<%= pagination.totalRecords %>
			</span>
		</div>
	</div>
</div>