<!doctype html>
<html lang="en">

<head>
	<%- include('_partial/head', { title }); %>
</head>

<body>
	<%- include('_partial/header', { title, icon }); %>

	<%- include('_partial/layout/primary_open'); %>

	<% const hasTimestamp = clients.find(x => x.timestamp); %>
	<% const hasNewspost = clients.find(x => x.newspost); %>

	<div class="relative overflow-x-auto rounded-field border border-base-content/5 bg-base-300">
		<table class="table table-zebra">
			<thead>
				<tr class="bg-base-100">
					<th scope="col"
							class="font-medium!">
						Build
					</th>
					<% if (hasTimestamp) { %>
					<th scope="col"
							class="font-medium!">
						Timestamp
					</th>
					<% } %>
					<% if (hasNewspost) { %>
					<th scope="col"
							class="font-medium!">
						News Post
					</th>
					<% } %>
					<th scope="col"
							class="font-medium!">
						File Name
					</th>
					<th scope="col"
							class="font-medium!">
						File Size
					</th>
					<th scope="col">
					</th>
				</tr>
			</thead>
			<tbody>
				<% for (client of clients) { %>
				<tr>
					<td class="w-0 whitespace-nowrap font-medium text-heading">
						<%= client.build %>
					</td>
					<% if (hasNewspost) { %>
					<td>
						<% if (client.timestamp) { %>
						<%= client.timestamp.toISOString().split('T')[0] %>
						<% } else { %>
						-
						<% } %>
					</td>
					<% } %>
					<% if (hasNewspost) { %>
					<td>
						<% if (game.newspost_url !== null && client.newspost !== null) { %>
						<a class="hover:text-gray-300"
							 href="<%= game.newspost_url%><%= encodeURI(client.newspost) %>"
							 rel="noreferrer"
							 target="_blank"><%= client.newspost %></a>
						<% } else { %>
						<%= client.newspost ?? '-' %>
						<% } %>
					</td>
					<% } %>
					<td>
						<%= client.name %>
					</td>
					<td>
						<%= client.len %> bytes
					</td>
					<td class="w-0 whitespace-nowrap">
						<a class="btn btn-sm btn-success"
							 href="/clients/<%= client.id %>/download">
							<i data-lucide="download"
								 class="size-4"></i>

							Download
						</a>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>

	<%- include('_partial/layout/primary_close'); %>

	<%- include('_partial/footer', { timeTaken: stats.timeTaken }); %>
</body>

<%- include('_partial/footer_scripts'); %>

</html>