<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= cache.build %> - Lost City Archive</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-800 text-white">
    <div class="flex justify-center mt-1">
        <div class="flex-col text-center">
            <h1 class="text-xl"><%= cache.build %></h1>
            <a class="hover:text-gray-300" href="/list/<%= cache.name %>">Go Back</a>
        </div>
    </div>

    <div class="flex justify-center mt-1 mb-1">
        <div class="p-1 text-center w-3/4 relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-xl border border-gray-600">
            <a class="hover:text-gray-300 underline" href="/caches/<%= cache.id %>/cache.zip">Download cache</a>

            <% if (clients.length) { %>
            <hr class="my-1 bg-gray-600 border-gray-600 border-00">
            <h1 class="text-xl">Extra Files</h1>

            <% for (const client of clients) { %>
                <a class="hover:text-gray-300 underline" href="/clients/<%= client.id %>"><%= client.name %>: <%= client.len %> bytes</a>
            <% } %><br>
            <% } %>
        </div>
    </div>

    <div class="flex justify-center mt-1 mb-1">
        <span class="text-xs">Page: <%= stats.timeTaken %> ms</h1>
    </div>
</body>

</html>
